@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.yeseva-one {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
  }
  img{
    margin-right: 100px;
  }
  .first-part{
    display: flex;
    border: none;
    justify-content: space-evenly;
  }
  .first-part-div{
    margin-top: 80px;
    margin-left: 100px;
  }
  span{
    color: rgb(255, 173, 90);
  }
  .btn-1{
    margin-top: 20px;
    height: 40px;
    width: 140px;
    background-color: #FF5959;
    color: white;
    border: none;
    border-radius: 8px;
  }
  .p-1{
    margin-top: 25px;
    font-size: 18px;
    font-weight:lighter;
  }
  .h6-1{
    margin-top: 50px;
    font-size: 16px;
    font-weight: 100;
  }