@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.yeseva-one {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
  }
  img{
    margin-right: 100px;
  }
  .first-part{
    display: flex;
    border: none;
    justify-content: space-evenly;
  }
  .first-part-div{
    margin-top: 80px;
    margin-left: 100px;
    word-wrap: normal;
  }
  span{
    color: rgb(255, 173, 90);
  }
  .btn-1{
    margin-top: 20px;
    height: 40px;
    width: 140px;
    background-color: #FF5959;
    color: white;
    border: none;
    border-radius: 8px;
  }
  .p-1{
    margin-top: 25px;
    font-size: 18px;
    font-weight:lighter;
  }
  .h6-1{
    margin-top: 45px;
    font-size: 16px;
    font-weight: 100;
  }
  /*Main Section Starts*/
  .main-section-1{
    margin: 0 100px;
  }
.mission{
  text-align: center;
}
.my-missions{
  display: flex;
  justify-content: space-around;
  border: none;
  gap: 20px;
}
#id1{
  background-color: #4f9da635;
  border-radius: 26px;
  word-wrap: normal;
  padding: 20px 40px 0 40px;
  height: 376px;
  width: 360px;
}
#id2{
  background-color: #ff595930;
  border-radius: 26px;
  word-wrap: normal;
  padding: 20px 40px 0 40px;
  height: 376px;
  width: 360px;
}
#id3{
  background-color: #fff4d693;
  border-radius: 26px;
  word-wrap: normal;
  padding: 20px 40px 0 40px;
  height: 376px;
  width: 360px;
}
.h31{
  font-size: 24px;
font-weight:bolder;
padding-top: 15px;
}
















  @media screen and (max-width:412px) {
    .first-part{
      display: flex;
      flex-direction: column;
      margin: auto;
    }
   
    .img1{
      margin:-20px 60px;
    }
    .first-part-div{
      margin-top: 40px;
      margin-left: 40px;
      margin-right: 40px;
      word-wrap: normal;
    }
  }
  
 